@import url('https://cdn.hldtru.space/stylesheets/ScaniaSans.css');
@import url('https://cdn.hldtru.space/stylesheets/SFPro.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

.video {
  position: absolute;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.scania_heading {
  font-family: 'Scania Sans CY Headline', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: Bold;
  z-index: 30;
}

.scania_body {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  color: #000;
  z-index: 30;
  padding-left: 2px;
  padding-top: 6px;
  padding-right: 4px;
  padding-bottom: 2px;
}

.scania_bodysmall {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: gray;
  z-index: 30;
  padding-left: 2px;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 4px;
}
